<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Zoptal</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app uses location to provide location-based features.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app uses the camera to take photos for your projects and profile.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app accesses your photo library to select images for your projects and profile.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app uses the microphone for voice input and audio features.</string>
	<key>NSContactsUsageDescription</key>
	<string>This app accesses your contacts to help you collaborate with team members.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app accesses your calendar to schedule project deadlines and meetings.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Use Face ID to securely authenticate and access your account.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>This app uses tracking to provide personalized content and improve your experience.</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIAppFonts</key>
	<array>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>zoptal</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>zoptal</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.zoptal.mobile</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.zoptal.mobile</string>
			</array>
		</dict>
	</array>
	<key>CodePushDeploymentKey</key>
	<string>YOUR_CODEPUSH_IOS_KEY</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2024 Zoptal. All rights reserved.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>background-fetch</string>
		<string>background-processing</string>
		<string>remote-notification</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>mailto</string>
		<string>tel</string>
		<string>sms</string>
		<string>http</string>
		<string>https</string>
		<string>comgooglemaps</string>
		<string>citymapper</string>
		<string>uber</string>
		<string>lyft</string>
		<string>twitter</string>
		<string>fb</string>
		<string>instagram</string>
		<string>whatsapp</string>
		<string>linkedin</string>
	</array>
	<key>UISceneDelegate</key>
	<dict>
		<key>UISceneClass</key>
		<string>UIWindowScene</string>
		<key>UISceneDelegateClassName</key>
		<string>SceneDelegate</string>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UISupportsPictureInPicture</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Zoptal Project File</string>
			<key>UTTypeIdentifier</key>
			<string>com.zoptal.project</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zoptal</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>